body {
	font-family: helvetica, sans-serif;
}

.container {
	width: 350px;
	margin: 50px auto;
}

label {
	font-weight: bold;
}

div {
	padding-bottom: 20px;
}

input[type='text'] {
	margin-top: 10px;
	padding: 5px;
	width: 150px;
}

p {
	background: #ffc125;
	color: #5e2612;
	padding: 10px;
	visibility: hidden;
	width: 300px;
}
